---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Section from '../components/Section.astro';
import Home from '../components/Home.astro';

import video from '../../public/static/video/video.webm';
import modelS from '../../public/static/images/model-s.avif';
import model3 from '../../public/static/images/model-3.avif';
import modelX from '../../public/static/images/model-x.avif';
import modelY from '../../public/static/images/model-y.avif';
import solarPaneles from '../../public/static/images/solarPanels.avif';
import solarRoof from '../../public/static/images/Homepage-SolarRoof-Desktop-Global.avif';
import powerwall from '../../public/static/images/Powerwall.avif';
import accesories from '../../public/static/images/Accessories.avif';
---

<Layout title="Welcome to Tesla | Driving to the Future">
	<Header />
	<main class="snap-y snap-mandatory relative w-full h-screen overflow-auto scroll-smooth">
		<div class="snap-center">
			<Home>
				<video autoplay muted loop src={video} slot="video" class="object-center object-cover w-screen h-full"></video>
			</Home>
		</div>
		<div id="model-s" class="snap-center">
			<Section title="Model S" subtitle="" color="black" textLink="Explore Inventory" textButton1="Custom Order" textButton2="Demo Drive">
				<img src={modelS} alt="model-s image" slot="background" class="w-screen h-full object-center object-cover"/>
			</Section>
		</div>
		<div id="model-3" class="snap-center">
			<Section title="Model 3" subtitle="Starting at $32,740" textLink="" color="black" textButton1="Explore Inventory" textButton2="Custom Order">
				<img src={model3} alt="model-3 image" slot="background" class="w-screen h-full object-center object-cover"/>
			</Section>
		</div>
		<div id="model-x" class="snap-center">
			<Section title="Model X" subtitle="" color="black" textLink="Explore Inventory" textButton1="Custom Order" textButton2="Demo Drive">
				<img src={modelX} alt="model-x image" slot="background" class="w-screen h-full object-center object-cover"/>
			</Section>
		</div>
		<div id="model-y" class="snap-center">
			<Section title="Model Y" subtitle="Starting at $40,240" textLink="" color="black" textButton1="Explore Inventory" textButton2="Custom Order">
				<img src={modelY} alt="model-y image" slot="background" class="w-screen h-full object-center object-cover"/>
			</Section>
		</div>
		<div id="solar-panels" class="snap-center">
			<Section title="Solar Panels" subtitle="" textLink="Schedule a Virtual Consultation" color="black" textButton1="Order Now" textButton2="Learn More">
				<img src={solarPaneles} alt="solar panels image" slot="background" class="w-screen h-full object-center object-cover"/>
			</Section>
		</div>
		<div id="solar-roof" class="snap-center">
			<Section title="Solar Roof" subtitle="Produce Clean Energy From Your Roof" textLink="" color="black" textButton1="Order Now" textButton2="learn More">
				<img src={solarRoof} alt="solar roof image" slot="background" class="w-screen h-full object-center object-cover"/>
			</Section>
		</div>
		<div id="powerwall" class="snap-center">
			<Section title="Powerwall" subtitle="" textLink="" color="black" textButton1="Order Now" textButton2="Learn More">
				<img src={powerwall} alt="powerwall image" slot="background" class="w-screen h-full object-center object-cover"/>
			</Section>
		</div>
		<div id="accesories" class="snap-center">
			<Section title="Accesories" subtitle="" textLink="" color="black" textButton1="Shop Now" textButton2="Learn More">
				<img src={accesories} alt="accesories image" slot="background" class="w-screen h-full object-center object-cover"/>
			</Section>
		</div>

	</main>

</Layout>
